 <section class="heading purple">
        <div class="content">
            <div class="grid-12">
                <!--<a href="/index.html"><img src="/assets/images/logo-horizontal-white.png" alt="logo" class="logo"/></a>-->
            </div>
        </div>
    </section>
<section class="nav">
    <div class="content full-width">
        <div class="grid-12">
            <nav>
                <a href="/">Hjem</a>
                <a href="/participate">Blog</a>
            </nav>
        </div>
    </div>
</section>
